<div>
  <p class="f_label_font my-2">カテゴリー (最大3つまで選択可能)</p>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |cb| %>
    <div class="form-check form-check-inline">
      <%= cb.check_box(id: "category_#{cb.value}", style: 'display: none;') %>
      <%= cb.label(class: 'category_btn', for: "category_#{cb.value}") do %>
        <span class="category_name"><%= cb.text %></span>
      <% end %>
    </div>
  <% end %>
</div>