<div class="follow_btn_container_<%= user.id %>">
  <% if current_user != user %>
    <% if current_user.following?(user) %>
      <%= link_to user_relationships_path(user), method: :delete, class: "btn btn-outline-secondary btn-block unfollow_btn follow_btn", data: { user_id: user.id, type: "unfollow" } do %>
        <span>フォロー中</span>
      <% end %>
    <% else %>
      <%= link_to user_relationships_path(user), method: :post, class: "btn btn-block following_btn follow_btn", data: { user_id: user.id, type: "follow" } do %>
        <span class="following_btn_txt">フォロー</span>
      <% end %>
    <% end %>
  <% end %>
</div>