<div class="container">
  <h1 class="my-4"><%= @user.name %>　フォロワー</h1>
  <% if @users.present? %>
    <%= render partial: "/searches/search_user", locals: { users: @users } %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>