<div class="container">
  <div class="row justify-content-around">
    <!-- ユーザーの詳細 -->
    <%= render 'side', user: @user %>
    <!-- ユーザーの投稿一覧 -->
    <div class="d-flex flex-column col-lg-6">
      <%= render 'posts/posts_index', posts: @posts %>
    </div>
  </div>
</div>