<div class="container">
  <h1 class="mb-4"><%= @category.name %> カテゴリーの投稿一覧</h1>
  <div class="d-flex flex-column">
    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <%= render 'public/searches/search_post', post: post %>
      <% end %>
    <% else %>
        <p>検索結果なし</p>
    <% end %>
  </div>
</div>