<div class="container">
  <div class="row">
    <div class="d-flex flex-column col-lg-6 m-auto ">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <% user = post.user %>
          <div class="d-flex flex-column p-2 border-bottom w-100">
            <%= render 'users/post_account', user: user %>
            <%= link_to post_path(post.id), class: 'text-decoration-none text-dark' do %>
              <div>
                <%= render 'posts/posts_content', post: post %>
                <%= render 'posts/posts_content_bottom_nolink', post: post %>
              </div>

            <% end %>
          </div>

        <% end %>
      <% else %>
        <p class="pt-4">まだ、投稿がありません。投稿してみましょう！</p>
      <% end %>
    </div>
  </div>
</div>