<div class="container">
  <% if @range == "User" %>
    <h1 class="my-4 ">ユーザーの検索結果</h1>
    <div class="d-flex flex-column m-auto">
      <% if @users.present? %>
        <%= render "/users/index", users: @users %>
      <% else %>
        <p>検索結果なし</p>
      <% end %>
    </div>
  <% elsif @range == "Post" %>
    <h1 class="mb-4 ">投稿の検索結果</h1>
    <div class="d-flex flex-column">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <%= render 'search_post', post: post %>
        <% end %>
      <% else %>
        <p>検索結果なし</p>
      <% end %>
    </div>
  <% elsif @range == "Category" %>
    <h1 class="mb-4">カテゴリーの検索結果</h1>
    <div class="d-flex flex-column">
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <%= render 'search_post', post: post %>
        <% end %>
      <% else %>
        <p>検索結果なし</p>
      <% end %>
    </div>
  <% end %>
</div>
