/* reset --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

html {
  font: 100%/1.5 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none!important;
  color: #6c6b6b;
}

a:hover{
  color: #6c6b6b;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}



/* 共通レイアウト --------------------------- */
body {
  color: #2d3133;
  margin: 0;
}

.fs_2{
  font-size: 2em;
}

.fs_08{
  font-size: 0.8em;
}

.navi_area{
  color: #2d3133;
  background-color: #f7f7f7;
  font-weight: bold;
}

.navi_area ul li {
  font-size:1.1em;
  margin-right: 1em;
}

.search_form{
  width: fit-content;
  border:solid 1px #2d3133;
  border-radius: 2em;
  padding:.2em .5em;
}

.search_select{
  border:none;
  border-color: #fff;
  padding: .2em;
  outline: none;
}

.search_word{
  border-bottom: none;
  border-top: none;
  border-right: solid 1px #2d313355;
  border-left: solid 1px #2d313355;
  outline: none;
  padding: .2em;
  margin:0 .2em;

}

.search_word:focus{
  background-color: #fff!important;
  outline: none;
}

.search_btn{
  border-radius: 0 .4em .4em 0;
}

.color_green{
  color: #66CC99;
}

.user_btn:hover{
  background-color: #f7f7f7;
}

.post_btn, .update_user_btn, .edit_btn, .btn_bg_b{
  background-color: #6699CC;
  color: #fff;
  font-weight: bold;
}

.post_btn_txt{
  color: #fff;
  font-weight: bold;
}

.post_btn:hover, .update_user_btn:hover, .edit_btn:hover, .btn_bg_b:hover{
  color: #fff;
  background-color: #6699CC88;
}

.normal_btn:hover{
  color: #2d31335A;
}

.footer_bg{
  background-color: #66CC99;
}

/*フラッシュメッセージ--------------------------------------------*/
.flash-message {
  border-radius: 5px;
  padding: .5em 1em;
  margin: 1em 0;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

/*---error-----------------------------------------*/

.list_style_error li{
  list-style-type: disc!important;
}