<div class="container">
  <h1>お気に入り一覧</h1>
  <div class="my-4">
    <% if @favorite_posts.empty? %>
        <p>お気に入りの投稿はありません。</p>
    <% else %>
      <div class="d-flex flex-column">
      <% @favorite_posts.each do |post| %>
        <%= render 'public/searches/search_post', post: post %>
      <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @favorite_posts %>
</div>
